
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-bottom: 30px;">Upload File</h2>

@using (Html.BeginForm("Upload", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input style="margin-bottom: 20px;" type="file" name="file" />
    <input style="margin-bottom: 20px;" type="submit" name="Submit" id="Submit" value="Upload" />
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
