@{
    ViewBag.Title = "Home Page";
}

<h2 style="margin-bottom: 50px;">Welcome.</h2>

<h4>For working with File Sharing You must be logged in</h4>
<h4>You can't delete or download other users property.</h4>