@{
    ViewBag.Title = "Home Page";
}
<h2>Home Page</h2>
<table>
    <tr><th>CalCOOLator is COOLEST calculator application made by MefisCorp and bundled with Windows.</th></tr>
    <tr><th>It has one mode: basic. Basic includes operations such as adding, subtracting, multiplying, dividing and searching for remainder.</th></tr>
    <tr><th>It can save history of operations and you can filter it by operation ANY TIME!</th></tr>
    <tr><th> </th></tr>
    <tr><th> </th></tr>
    <tr><th> </th></tr>
    <tr><th> </th></tr>
    <tr><th> </th></tr>
    <tr><th>Hope you enjoy it, see ya!</th></tr>
    <tr><th>-Max</th></tr>
</table>